<form action="#">
    <input id="storeSearch" class="form-control" type="text" placeholder="Search">
</form>
<section ng-init="panel.tab = 1" ng-controller="PanelController as panel">
    <div class="col-sm-4 store-tabs">
        <ul ng-repeat="category in store.getItemCategories() | orderBy:'panel'" class="nav nav-tabs tabs-left">
            <li role="presentation" ng-class="{'store-section-title':category.isPrimary, 'active':panel.isSelected(category.panel)}">
                <a href role="tab" ng-click="panel.selectTab(category.panel)">{{category.displayName}}</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-8">
        <div ng-repeat="category in store.getItemCategories() | orderBy:'panel'" class="panel" ng-show="panel.isSelected({{category.panel}})">
            <img ng-repeat="item in category.items | orderBy:'gold.total'" class="draggable-item item-image" src="img/item-trans.png" ng-hide={{item.hideFromAll}}
                 style="width: {{item.image.w}}px; height: {{item.image.h}}px; background: url(img/{{item.image.sprite}}) no-repeat; background-position: -{{item.image.x}}px -{{item.image.y}}px;"
                 data-item-id="{{item.id}}" store-item-draggable />
        </div>
    </div>
</section>